{% extends "base.html" %}
{% block title %}
    Index
{% endblock %}
{% block head %}
    {{ super() }}
    <style>

    </style>
{% endblock %}
{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Poblados</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="container" id="container">
            <h1 data-i18n="welcome"></h1> <!- Welcome ->
            <div id="communityInput" class="input-group-lg">
                <p class="lead" data-i18n="what_is_your_community"></p>
                <table>
                    <tr>
                        <td><p class="lead" data-i18n="state"></p></td>
                        <td><p class="lead" data-i18n="city"></p></td>
                        <td><p class="lead" data-i18n="town"></p></td>
                    </tr>
                    <tr>
                        <td><select id="state-select" class="js-data-example-ajax">PROVINCIA</select></td>
                        <td><select id="city-select" class="js-data-example-ajax"></select></td>
                        <td><select id="town-select" class="js-data-example-ajax"></select></td>
                    </tr>
                </table>
                <button id="search" type="button" class="btn btn-primary">Buscar comunidad</button>
            </div>
            <table>
                <tr>
                    <td colspan="3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Provincia</span>
                            </div>
                            <input id="state-name" type="text" class="form-control" placeholder="Provincia">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Cantón</span>
                            </div>
                            <input id="city-name" type="text" class="form-control" placeholder="Cantón">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Poblado</span>
                            </div>
                            <input id="town-name" type="text" class="form-control" placeholder="Poblado">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">ID</span>
                            </div>
                            <input id="town-id" type="text" class="form-control" placeholder="ID">
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous" type="text/javascript"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.js" type="text/javascript"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.messagestore.js" type="text/javascript"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.fallbacks.js" type="text/javascript"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.language.js" type="text/javascript"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.parser.js" type="text/javascript"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.emitter.js" type="text/javascript"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.emitter.bidi.js" type="text/javascript"></script>
    <script src="antixss.js" type="text/javascript"></script>

    <script>
        /*eslint-disable no-undef */
        $(document).ready(function () {
            $.i18n().load({
                en: {
                    "welcome": "Welcome.",
                    "community": "community",
                    "what_is_your_community": "What is your community?",
                    "town": "Town",
                    "city": "city",
                    "state": "State",
                    "database_contents": "Community: ",
                    "community_not_found": "Community not found"
                },
                es: {
                    "welcome": "Bienvenido",
                    "community": "Comunidad",
                    "what_is_your_community": "¿Cuál es su comunidad?",
                    "town": "Pueblo",
                    "city": "Cantón",
                    "state": "Provincia",
                    "database_contents": "Comunidad: ",
                    "community_not_found": "Comunidad no encontrada"
                }
            });
            $('body').i18n();
            $('#town').attr("placeholder", $.i18n('town'));
            $('#city').attr("placeholder", $.i18n('city'));
            $('#state').attr("placeholder", $.i18n('state'));
        });
    </script>

    <script>
        function getProvinces() {
            $.get("https://resilapp.mybluemix.net/api/towns/provinces")
                .done(function (data) {
                    if (data != null) {
                        $('#state-select').append(new Option("Provincia:","",true,true));
                        data.forEach(function (element) {
                            $('#state-select').append(new Option(element));
                        });
                    }
                });
        }

        //Submit data when search button is pressed
        $('#search').click(function () {
            var town = $('#town-select').val();
            var city = $('#city-select').val();
            var state = $('#state-select').val();
            var communities_url = "https://resilapp.mybluemix.net/api/towns/";
            var community_url = communities_url.concat(state, "/", city, "/", town);
            if (state.length > 0 && city.length > 0 && town.length > 0) {
                $.get(community_url, function (data) {
                    console.log(data);
                    if (data != null) {
                        $('#state-name').val(data.PROVINCIA);
                        $('#city-name').val(data.CANTON);
                        $('#town-name').val(data.PUEBLO);
                        $('#town-id').val(data.POBLAC_ID);
                    } else {
                        $('#databaseNames').html($.i18n('database_contents') + $.i18n('community_not_found'));
                    }
                });
            } else if (state == "Provincia:" || city == "Cantón:" || town == "Poblado:") {
                $('#state-name').empty();
                $('#city-name').empty();
                $('#town-name').empty();
                $('#town-id').empty();
            }
        });
        $('#state-select').change(function () {
            $('#town-select').empty();
            $('#city-select').empty();
            $.get("https://resilapp.mybluemix.net/api/towns/" + $('#state-select option:selected').val())
                .done(function (data) {
                    if (data != null) {
                        $('#city-select').append(new Option("Cantón:","",true,true));
                        data.forEach(function (element) {
                            $('#city-select').append(new Option(element));
                        });
                    }
                })
        });
        $('#city-select').change(function () {
            $('#town-select').empty();
            $.get("https://resilapp.mybluemix.net/api/towns/"
                + $('#state-select option:selected').val()
                + '/'
                + $('#city-select option:selected').val())
                .done(function (data) {
                    if (data != null) {
                        $('#town-select').append(new Option("Poblado:","",true,true));
                        data.forEach(function (element) {
                            $('#town-select').append(new Option(element));
                        });
                    }
                })
        });
        getProvinces();
    </script>
{% endblock %}